{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fresh Mart" />
    <meta name="keywords" content="Fresh, Mart, Fresh Mart" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fresh Mart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    {% comment %} <link href="../../css2-4?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" /> {% endcomment %}
    <!-- Css Styles -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css" />

    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css" />
    {% comment %}dùng cho all departments{% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" />
  </head>

  <body>
    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="header__top__left mt-1" style="width: 800px;">
                <ul class="d-flex align-text-bottom">
                  <li>
                    <i class="fa fa-envelope"></i> ctsv@ptit.edu.vn
                  </li>
                  <li>Vận chuyển miễn phí toàn quốc cho mọi đơn hàng – Đừng bỏ lỡ!</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="header__top__right">
                <div class="header__top__right__social">
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  {% comment %} <a href="#"><i class="fa-brands fa-pinterest-p"></i></a> {% endcomment %}
                </div>
                {% comment %} <div class="header__top__right__language">
                  <img src="{% static 'assets/img/language.png' %}" alt="" />
                  <div>English</div>
                  <span class="arrow_carrot-down"></span>
                  <ul>
                    <li>
                      <a href="#">Spanis</a>
                    </li>
                    <li>
                      <a href="#">English</a>
                    </li>
                  </ul>
                </div> {% endcomment %}
                {% if request.user.is_authenticated %}
                  {% comment %} <div class="menu-container">
                    <h5 class="d-inline-block">Xin chào <strong>{{ username }}</strong></h5>
                    <div class="menu menu-username">
                      <ul>
                        <li>
                          <a href="{% url 'dashboard:index' %}">Tài khoản</a>
                        </li>
                        <li>
                          <a href="#option2">Option 2</a>
                        </li>
                        <li>
                          <a href="#option3">Option 3</a>
                        </li>
                      </ul>
                    </div>
                  </div> {% endcomment %}
                  <div class="menu-container dropdown-center">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Xin chào <strong>{{ request.user.profile.full_name }}</strong></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'dashboard:index' %}">Tài khoản</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'userauths:sign-out' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                      </li>
                    </ul>
                  </div>
                  <div class="header__top__right__auth ms-2"></div>
                {% else %}
                  <div class="header__top__right__auth">
                    <a href="{% url 'userauths:sign-in' %}"><i class="fa fa-user"></i> Đăng nhập</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="header__logo">
              <a href="{% url 'core:index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <nav class="header__menu">
              <ul>
                <li class="active">
                  <a class="text-success" href="{% url 'core:index' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'core:product-list' %}">Shop</a>
                  {% comment %} <ul class="header__menu__dropdown">
                    {% for c in categories %}
                      <li>
                        <a href="{% url 'core:category-product-list' c.cid %} ">{{ c.title }}</a>
                      </li>
                    {% endfor %}
                  </ul> {% endcomment %}
                </li>
                {% comment %} <li>
                  <a href="#">Pages</a>
                  <ul class="header__menu__dropdown">
                    <li>
                      <a href="./shop-details.html">Shop Details</a>
                    </li>
                    <li>
                      <a href="./shoping-cart.html">Shoping Cart</a>
                    </li>
                    <li>
                      <a href="./checkout.html">Check Out</a>
                    </li>
                    <li>
                      <a href="./blog-details.html">Blog Details</a>
                    </li>
                    <li>
                      <a href="{% url 'core:vendor-list' %}">Vendor List</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="./blog.html">Blog</a>
                </li> {% endcomment %}

                <li>
                  <a href="{% url 'core:contact' %}">Contact</a>
                </li>
                <li>
                  <a href="{% url 'dashboard:index' %}">Dashboard</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">
              <ul>
                <li>
                  <a href="{% url 'core:wishlist' %}"><i class="fa fa-heart"></i> <span>{{ wishlist.count|default:0 }}</span></a>
                </li>
                <li>
                  <a href="{% url 'core:cart' %}"><i class="fa fa-shopping-bag"></i> <span class="cart-items-count">{{ request.session.cart_data_obj|length }}</span></a>
                </li>
              </ul>
              <div class="header__cart__price">
                Giỏ hàng: <span>{{ cart_total_amount|intcomma }}đ</span>
              </div>
            </div>
          </div>
        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="hero__categories">
              <div class="hero__categories__all bg-success">
                <i class="fa fa-bars"></i>
                <span class="" style="font-family: 'Poppins', sans-serif;">Thương hiệu<i class="fas fa-chevron-down"></i></span>
              </div>
              <ul style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);">
                {% for c in categories %}
                  <li class="categories__item--li">
                    <a href="{% url 'core:category-product-list' c.cid %}">
                      {{ c.title }}
                      <span class="categories__item--quantity">{{ c.category.count }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="hero__search">
              <div class="hero__search__form">
                <form action="{% url 'core:search' %}" method="GET">
                  <input type="text" name="q" placeholder="Tìm kiếm tại FreshMart" />
                  <button type="submit" class="site-btn bg-success">SEARCH</button>
                </form>
              </div>
              <div class="hero__search__phone">
                <div class="hero__search__phone__icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="hero__search__phone__text">
                  <h5>024 3756 2186</h5>
                  <span>support 24/7 time</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% block index %}

        {% endblock %}
      </div>
    </section>

    {% block content %}

    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="container">
        <div class="row d-flex flex-row justify-content-between">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__about__logo">
                <a href="{% url 'core:index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" /></a>
              </div>
              <!--                                                       
              <ul>
                <li>Address: 60-49 Road 11378 New York</li>
                <li>Phone: +65 11.188.888</li>
                <li>Email: hello@colorlib.com</li>
              </ul>
                                                                     -->
            </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="footer__widget">
              <ul style="width: 100%;;">
                <li class="m-2">
                  <strong>Số điện thoại liên hệ:</strong> 024 3756 2186
                </li>
                <li class="m-2">
                  <strong>Email:</strong> ctsv@ptit.edu.vn
                </li>
                <li class="m-2">
                  <strong>Trụ sở chính:</strong> Km10, Đường Nguyễn Trãi, Q. Hà Đông, Hà Nội
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright">
              <div class="footer__copyright__text">
                <p></p>
              </div>
              <div class="footer__copyright__payment">
                <img src="{% static 'assets/img/payment-item.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->

    {% comment %}thanh toán{% endcomment %}

    {% comment %}END thanh toán{% endcomment %}

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    {% comment %} <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    {# flash message #}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script>
        {% for message in messages %}  

            {% if 'success' in message.tags %}
              showNotification("s","{{ message }}")
            {% elif 'warning' in message.tags %}
              showNotification("w","{{ message }}")
            {% elif 'error' in message.tags %}
            showNotification("e","{{ message }}")
            {% else %}
              showNotification("","{{ message }}")
            {% endif %}
        {% endfor %}
    </script>
  </body>
</html>
