{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>Shopping Cart</h2>
            <div class="breadcrumb__option">
              <a href="./index.html">Home</a>
              <span>Shopping Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Shoping Cart Section Begin -->
  <section class="shoping-cart spad" id="cart-list">
    <form action="{% url 'core:save_checkout_info' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shoping__cart__table">
              <table>
                <thead>
                  <tr>
                    <th class="shoping__product">Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for product_id, item in cart_data.items %}
                    <tr>
                      <td class="shoping__cart__item">
                        <img style="height: 120px;width: 120px;" src="{{ item.image }}" alt="image" />
                        <a href="{% url 'core:product-detail' item.pid %}"><h5>{{ item.title }}</h5></a>
                      </td>
                      <td class="shoping__cart__price">${{ item.price|floatformat:2 }}</td>
                      <td class="shoping__cart__quantity">
                        <div class="quantity">
                          <div class="pro-qty">
                            <input type="text" value="{{ item.qty }}" class="product-qty-{{ product_id }}" />
                          </div>
                        </div>
                      </td>
                      <td class="shoping__cart__total">
                        ${% widthratio item.price 1 item.qty %}
                      </td>
                      <td class="shoping__cart__item__close">
                        <button type="button" class="bg-transparent border border-0 update-product" data-product="{{ product_id }}"><i class="fa-solid fa-arrows-rotate"></i></button>
                      </td>
                      <td class="shoping__cart__item__close">
                        <button type="button" class="bg-transparent border border-0 delete-product" data-product="{{ product_id }}"><i class="fa-solid fa-trash-can"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="shoping__cart__btns">
              <a href="{% url 'core:product-list' %}" class="primary-btn cart-btn bg-success text-white">Khám phá sản phẩm khác</a>
              {% comment %} <a href="#" class="primary-btn cart-btn cart-btn-right">
                {% endcomment %}
                {% comment %} <span class="icon_loading"></span> {% endcomment %}
                {% comment %}Upadate Cart{% endcomment %}
                {% comment %}
              </a> {% endcomment %}
            </div>
          </div>

          <div class="row mt-4">
            <h4 class="mb-30">Thông tin người nhận</h4>
            <div class="row">
              <div class="form-group col-lg-12">
                <label for="">Full Name</label>
                <input disabled class="form-control my-2" type="text" required="" name="full_name" value="{{ request.user.username|title }}" placeholder="Full Name" />
              </div>
              <div class="form-group col-lg-6">
                <label for="">Email</label>
                <input disabled class="form-control my-2" type="text" required="" name="email" placeholder="mobile *" value="{{ request.user.email }}" />
              </div>
              <div class="form-group col-lg-6">
                <label for="">Mobile</label>
                <input disabled class="form-control my-2" type="text" name="mobile" value="{{ request.user.profile.phone }}" required="" placeholder="Address *" />
              </div>
            </div>
            <h4 class="mb-30">Chi tiết địa chỉ</h4>
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="">Address</label>
                <input class="form-control my-2" type="text" name="address" value="" placeholder="Address" />
              </div>
              <div class="form-group col-lg-6">
                <label for="">City</label>
                <input class="form-control my-2" type="text" name="city" placeholder="City *" value="" />
              </div>
              <div class="form-group col-lg-6">
                <label for="">State</label>
                <input class="form-control my-2" type="text" name="state" value="" placeholder="State *" />
              </div>
              <div class="form-group col-lg-6">
                <label for="">Country</label>
                <input class="form-control my-2" type="text" name="country" value="" placeholder="Country *" />
              </div>
            </div>
          </div>

          <div class="col-8">
            <div class="shoping__continue">
              <div class="shoping__discount"></div>
            </div>
          </div>
          <div class="col-lg-4">
            {% if totalcartitems %}
              <div class="shoping__checkout">
                <h5>Cart Total</h5>
                <ul>
                  <li>
                    Subtotal <span>$454.98</span>
                  </li>
                  <li>
                    Total <span>${{ cart_total_amount|floatformat:2 }}</span>
                  </li>
                </ul>
                {% if totalcartitems %}
                  <button type="submit" class="site-btn mb-20 w-100">Đặt đơn<i class="fi-rs-sign-out ml-15"></i></button>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- Shoping Cart Section End -->
{% endblock %}
