{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="bg-secondary-subtle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Cart</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Checkout</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb Section End -->

  <!-- Checkout Section Begin -->
  <section class="checkout spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% comment %} <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code</h6> {% endcomment %}
        </div>
      </div>
      <button type="submit" class="site-btn mb-4 bg-success"><i class="fa-solid fa-angles-left"></i><a class="text-white ms-2" href="{% url 'core:cart' %}">Giỏ hàng</a></button>
      <div class="checkout__form">
        <h4>Chi tiết đơn hàng</h4>
        <form method="post">
          <div class="row">
            <div class="col-lg-7 col-md-6">
              <div class="row">
                {% for o in order_items %}
                  <div class="col-lg-6 mb-2">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ o.image }}" class="card-img-top" alt="..." />
                      <div class="card-body">
                        <h5 class="card-title fst-italic">{{ o.item }} <span class="badge text-bg-success fw-bold">x {{ o.qty }}</span></h5>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item badge text-bg-success">
                          <strong>{{ o.total|intcomma }}đ</strong>
                        </li>
                      </ul>
                    </div>
                    <!--                                         
                    <div class="card" style="max-width: 540px;border: 5px solid #f5f5f5;border-radius: 0px;box-shadow: 0px  0 0 15px rgba(0, 0, 0, 0);">
                      <div class="row g-0">
                        <div class="col-sm-4">
                          <img src="{{ o.image }}" style="height: 100%;width: 100%;  object-fit: cover;" class="rounded-start" alt="Card image" />
                        </div>
                        <div class="col-sm-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ o.item }}</h5>
                            <p class="card-text fs-sm">Qty: {{ o.qty }}</p>
                            <p class="card-text fs-sm">Price: ${{ o.price }}</p>
                            <p class="card-text fs-sm">Total: ${{ o.total }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                                                             -->
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="col-lg-5 col-md-6">
              <div class="checkout__order">
                <h4>Đơn hàng của bạn</h4>

                {% comment %} <div class="checkout__order__totalitem">
                  Total Items <span>{{ totalcartitems }}</span>
                </div> {% endcomment %}
                {% comment %} <div class="checkout__order__products">
                  Items <span>Total</span>
                </div> {% endcomment %}
                <form class="coupon-form">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <input name="code" type="text" class="form-control" placeholder="Coupon" aria-label="Recipient's username" />
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">Apply</button>
                  </div>
                </form>

                <div class="checkout__order__subtotal">
                  Tổng tiền hàng <span>{{ old_price|intcomma }}đ</span>
                </div>
                <div class="checkout__order__subtotal">
                  Giảm giá <span>{{ order.saved|intcomma }}đ</span>
                </div>

                <div class="checkout__order__total">
                  Thành tiền <span>{{ order.price|intcomma }}đ</span>
                </div>

                <div class="checkout__input__checkbox">
                  <label for="acc-or">
                    Create an account?<input type="checkbox" id="acc-or" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="checkout__input__checkbox">
                  <label for="payment">
                    Check Payment<input type="checkbox" id="payment" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="checkout__input__checkbox">
                  <label for="paypal">
                    Paypal<input type="checkbox" id="paypal" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <button type="button" class="btn w-100" id="checkout-button" style="background-color: green;color: white;">Pay With Stripe</button>
                <div id="paypal-button-container" class="mt-2"></div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row mt-4">
        <h4 class="mb-30">Thông tin người nhận</h4>
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="">Họ và tên</label>
            <input disabled class="form-control my-2" type="text" required="" name="full_name" value="{{ request.user.username|title }}" placeholder="Full Name" />
          </div>
          <div class="form-group col-lg-6">
            <label for="">Địa chỉ email</label>
            <input disabled class="form-control my-2" type="text" required="" name="email" placeholder="mobile *" value="{{ request.user.email }}" />
          </div>
          <div class="form-group col-lg-6">
            <label for="">Số điện thoại</label>
            <input disabled class="form-control my-2" type="text" name="mobile" value="{{ request.user.profile.phone }}" required="" placeholder="Address *" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="">Chi tiết địa chỉ</label>
            <input disabled class="form-control my-2" type="text" name="address" value="{{ request.user.profile.address }}" placeholder="Address" />
          </div>
          <!--            
          <div class="form-group col-lg-6">
            <label for="">City</label>
            <input class="form-control my-2" type="text" name="city" placeholder="City *" value="" />
          </div>
          <div class="form-group col-lg-6">
            <label for="">State</label>
            <input class="form-control my-2" type="text" name="state" value="" placeholder="State *" />
          </div>
          <div class="form-group col-lg-6">
            <label for="">Country</label>
            <input class="form-control my-2" type="text" name="country" value="" placeholder="Country *" />
          </div>
                      -->
        </div>
      </div>
    </div>
  </section>
  <!-- Checkout Section End -->
  <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD" data-namespace="paypal_sdk"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    paypal_sdk
      .Buttons({
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [
              {
                amount: {
                  value: '{{order_price_divided}}'
                }
              }
            ]
          })
        },
    
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (Detail) {
            console.log(Detail)
            if (Detail.status === 'COMPLETED') {
              window.location.href = `/payment-completed/{{ order.oid }}/?status=${Detail.status}`
            }
          })
        }
      })
      .render('#paypal-button-container')
  </script>

  <script>
    console.log(1)
    
    var stripe = Stripe('{{stripe_publishable_key}}')
    var checkoutButton = document.getElementById('checkout-button')
    console.log('nó có chạy vào đây không?')
    try {
      checkoutButton.addEventListener('click', function () {
        var email = '{{booking.email}}'
    
        checkoutButton.innerHTML = 'Processing...'
    
        fetch('/api/create_checkout_session/{{order.oid}}/', {
          method: 'POST',
          body: JSON.stringify({ email: email })
        })
          .then(function (response) {
            console.log(response)
            console.log(stripe)
            return response.json()
          })
          .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.sessionId })
          })
          .then(function (result) {
            if (result.error) {
              alert(result.error.message)
            }
          })
          .catch(function (error) {
            console.log('Error: ', error)
          })
      })
    } catch (error) {
      console.log(error)
    }
  </script>
{% endblock %}
