{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="bg-secondary-subtle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb Section End -->

  <!-- Contact Section Begin -->
  <section class="contact spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <div class="contact__widget">
            <i style="font-size: 30px;" class="fa-solid fa-phone"></i>
            <h4>Phone</h4>
            <p>024 3756 2186</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <div class="contact__widget">
            <i style="font-size: 30px;" class="fa-solid fa-map-location-dot"></i>
            <h4>Address</h4>
            <p>Km10, Đường Nguyễn Trãi</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <div class="contact__widget">
            <i style="font-size: 30px;" class="fa-solid fa-calendar-days"></i>
            <h4>Open time</h4>
            <p>support 24/7 time</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
          <div class="contact__widget">
            <i style="font-size: 30px;" class="fa-solid fa-envelope"></i>
            <h4>Email</h4>
            <p>ctsv@ptit.edu.vn</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->

  <!-- Map Begin -->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.9680376977344!2d105.78484157503009!3d20.980912980656463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e1!3m2!1svi!2s!4v1729390302154!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map-inside">
      <i class="icon_pin"></i>
      <div class="inside-widget p-2">
        <h4>Fresh Mart</h4>
        <ul>
          <li>Phone: 02437562186</li>
          <li>Add: 96A Đường Trần Phú, P. Mộ Lao, Hà Đông, Hà Nội, Việt Nam</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Map End -->

  <!-- Contact Form Begin -->
  <div class="contact-form spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact__form__title">
            <h2>Liên Hệ Với Chúng Tôi</h2>
          </div>
        </div>
      </div>
      <h4 class="text-success text-center" id="message-response"></h4>
      <form id="contact-form-ajax" action="#" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <input name="full_name" id="full_name" placeholder="Full Name" type="text" />
          </div>
          <div class="col-lg-6 col-md-6">
            <input name="email" id="email" placeholder="Your Email" type="email" />
          </div>
          <div class="col-lg-6 col-md-6">
            <input name="telephone" id="phone" placeholder="Your Phone" type="tel" />
          </div>
          <div class="col-lg-6 col-md-6">
            <input name="subject" id="subject" placeholder="Subject" type="text" />
          </div>
          <div class="col-lg-12 text-center">
            <textarea name="message" id="message" placeholder="Message"></textarea>
            <button id="contact-form-ajax" class="site-btn bg-success" type="submit">Gửi</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Contact Form End -->
{% endblock %}
