{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="bg-secondary-subtle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Cart</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Checkout</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Success</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb Section End -->

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="">
        <div class="message-box _success">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <h2>Thanh toán của bạn đã thành công</h2>
          <p>Cảm ơn bạn đã thanh toán, chúng tôi sẽ sớm liên hệ với bạn để cung cấp thêm thông tin chi tiết.</p>
          <p>
            Xem chi tiết tại <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'dashboard:order-detail' order.id %}">đây</a>.
          </p>
        </div>
      </div>
    </div>
    <hr />
  </div>
{% endblock %}
