{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2 style="color: #7ed957;">{{ product.title }}</h2>
            <div class="breadcrumb__option">
              <a href="{% url 'core:index' %}">Home</a>
              <a href="{% url 'core:index' %}">Vendor</a>
              <span>{{ product.title }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Product Details Section Begin -->
  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="product__details__pic">
            <div class="product__details__pic__item">
              <img style="height: 360px;width: 360px;object-fit: fill;" class="product__details__pic__item--large" src="{{ product.image.url }}" alt="" />
            </div>
            <div class="product__details__pic__slider owl-carousel">
              {% for image in p_images %}
                <img data-imgbigurl="{{ image.images.url }} " src="{{ image.images.url }}" alt="" />
              {% endfor %}
              <img data-imgbigurl="{{ product.image.url }} " src="{{ product.image.url }}" alt="" />
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <button type="button" style="font-weight: 500;
          padding: calc(8px +(10 - 8)*((100vw - 320px) /(1920 - 320))) calc(12px +(16 - 12)*((100vw - 320px) /(1920 - 320)));
          background-color: rgba(255, 79, 79, 0.1);
          border-radius: 5px;
          color: #ff4f4f;
          display: inline-block;
          margin-bottom: 20px;" class="btn btn-outline-danger">{{ product.get_percentage|floatformat:0 }}% Off</button>
          <div class="product__details__text">
            <h3>{{ product.title }}</h3>
            <div class="product__details__rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
              <span>(18 reviews)</span>
            </div>
            <div class="product__details__price text-success fw-bold">
              <span class="current-product-price-{{ product.id }}">{{ product.price }}</span> VNĐ<div class="text-decoration-line-through text-muted fs-6">${{ product.old_price }}</div>
            </div>

            {% comment %} <p>{{ product.description|truncatechars:100 }}.</p> {% endcomment %}
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty">
                  <input type="text" value="1" class="product-quantity-{{ product.id }}" />
                </div>
              </div>
            </div>
            <input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pid }}" />
            <input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}" />
            <input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}" />
            <input type="hidden" class="product-title-{{ product.id }}" value="{{ product.title }}" />
            <button type="submit" data-index="{{ product.id }}" class="primary-btn btn btn-animation btn-outline-success add-to-cart-btn"><i class="fa-solid fa-cart-shopping me-2"></i>ADD TO CARD</button>
            <a class="action-btn add-to-wishlist heart-icon" data-product-item="{{ product.id }}"><i class="fa fa-heart"></i></a>
            {% comment %} <a href="#" class="heart-icon"><i class="fa-solid fa-heart"></i></a> {% endcomment %}
            <ul>
              <li>
                <b>Availability</b> <span>{{ product.stock_count }} sản phẩm trong kho</span>
              </li>
              <li>
                <b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span>
              </li>
              <li>
                <b>Weight</b>
                <span>
                  {% for tag in product.tags.all %}
                    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'core:tags' tag.slug %}">#{{ tag.name }},</a>
                  {% endfor %}
                </span>
              </li>
              <li>
                <b>Share on</b>
                <div class="share">
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="latest-product__text">
            <h4>Giảm giá</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                {% for p in productLatestOne %}
                  <a href="{% url 'core:product-detail' p.pid %}" class="latest-product__item">
                    <div class="latest-product__item__pic">
                      <img src="{{ p.image.url }}" alt="" />
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{ p.title }}</h6>
                      <span>${{ p.price }}</span>
                    </div>
                  </a>
                {% endfor %}
              </div>
              <div class="latest-prdouct__slider__item">
                {% for p in productLatestTwo %}
                  <a href="{% url 'core:product-detail' p.pid %}" class="latest-product__item">
                    <div class="latest-product__item__pic">
                      <img src="{{ p.image.url }}" alt="" />
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{ p.title }}</h6>
                      <span>${{ p.price }}</span>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="product__details__tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active mx-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
                <button class="nav-link mx-3" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
                <button class="nav-link mx-3" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <h6>Products Infomation</h6>
                <p>{{ product.description|safe }}</p>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="col-12">
                  <div class="col-5 d-inline-block my-5 me-5">
                    <div class="review-title">
                      <h4 class="fw-500">Customer reviews</h4>
                      <div class="d-flex mb-30">
                        <p class="text-warning">★★★★☆</p>
                        <p class="ms-2 d-inline-block fw-bolder">{{ average_rating.rating|floatformat:1 }} out of 5.0</p>
                      </div>
                    </div>
                  </div>

                  <div class="review-title">
                    <h4 class="fw-500">Customer questions & answers</h4>
                  </div>

                  <div class="review-people">
                    <ul class="review-list">
                      {% for r in reviews %}
                        <li>
                          <div class="people-box">
                            <div>
                              <div class="people-image">
                                <img src="https://static-00.iconduck.com/assets.00/avatar-default-icon-1975x2048-2mpk4u9k.png" class="img-fluid blur-up lazyload" alt="" />
                              </div>
                            </div>

                            <div class="people-comment">
                              <a class="name" href="javascript:void(0)">{{ r.user.username|title }}</a>
                              <div class="date-time">
                                <h6 class="text-content">{{ r.date|date:'h:i A, d/m/y' }}</h6>

                                <div class="product-rating">
                                  {% comment %} {% Star = { 1: '★☆☆☆☆', 2: '★★☆☆☆', 3: '★★★☆☆', 4: '★★★★☆', 5: '★★★★★' } n=r.rating %} {% endcomment %}
                                  <ul class="rating">
                                    {% for s in r.rating|ljust:r.rating %}
                                      <i class="fas fa-star text-warning"></i>
                                    {% endfor %}
                                  </ul>
                                </div>
                              </div>

                              <div class="reply">
                                <p>{{ r.review }}</p>
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% if make_review == True %}
                    {% if request.user.is_authenticated %}
                      <div class="col-6 d-inline-block my-5">
                        <div class="review-title">
                          <h4 class="fw-500 add-review">Add a review</h4>
                          <strong class="text-success" id="review-res"></strong>
                        </div>

                        <form class="hide-comment-form" action="{% url 'core:ajax-add-review' product.id %}" id="commentForm" method="POST">
                          {% csrf_token %}
                          <div class="row g-4">
                            <div class="col-md-12">
                              <div class="form-floating theme-form-floating">{{ review_form.review }}</div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-floating theme-form-floating">{{ review_form.rating }}</div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-success mt-3">Send</button>
                        </form>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <h6>Products Infomation</h6>
                <a class="container" href="{% url 'core:vendor-detail' product.vendor.vid %}">
                  <div class="company-card text-center">
                    <div class="company-logo">
                      <img src="{{ product.vendor.image.url }}" alt="Company Logo" />
                    </div>
                    <h5 class="company-name">{{ product.vendor }} Store</h5>
                    <div class="company-rating">
                      ★★★★☆ <small>(36 Reviews)</small>
                    </div>
                    <p class="company-description">{{ product.vendor.description }}.</p>
                    <hr />
                    <div class="company-info text-start">
                      <p class="text-secondary fw-semibold">Phản hồi chat: {{ product.vendor.chat_resp_time }}%</p>
                      <p class="text-secondary fw-semibold">Giao hàng đúng thời hạn: {{ product.vendor.shipping_on_time }}%</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Details Section End -->

  <!-- Related Product Section Begin -->
  <section class="related-product">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title related__product__title">
            <h2>Related Product</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for p in products %}
          <div class="col-lg-3">
            <div class="product__item">
              <div class="product__item__pic set-bg" data-setbg="{{ p.image.url }}">
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="{% url 'core:product-detail' p.pid %}"><i class="fa-solid fa-eye"></i></a>
                  </li>
                  <li>
                    <input type="hidden" value="1" class="product-quantity-{{ p.id }}" />
                    <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}" />
                    <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}" />
                    <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}" />
                    <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}" />
                    <button data-index="{{ p.id }}" class="bg-transparent border border-0 add add-to-cart-btn" id="add-to-cart-btn">
                      {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                      <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h6>
                <h5>${{ p.price }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Related Product Section End -->
{% endblock %}
