{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <head>
    <style>
      input[type='range'] {
        -webkit-appearance: none;
        margin-right: 15px;
        height: 7px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        background-image: linear-gradient(#3bb77e, #3bb77e);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      
      input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #3bb77e;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background 0.3s ease-in-out;
      }
      
      input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
    </style>
  </head>
  <!-- Breadcrumb Section Begin -->
  <section class="bg-secondary-subtle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Shop</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb Section End -->

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-5">
          <div class="sidebar bg-body-tertiary p-3 rounded-2">
            <div class="sidebar__item">
              <h4>Thương hiệu</h4>
              <ul class="ms-3">
                {% for c in categories %}
                  <li class="" style="">
                    <span style="width: 150px;" class="d-inline-block bg-white border  rounded p-2 my-2" href="#">
                      <input data-filter="category" class="form-check-input filter-checkbox" type="checkbox" name="checkbox" id="exampleCheckbox2" value="{{ c.id }}" />
                      {{ c.title }}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="sidebar__item">
              <h4>Price</h4>
              <div class="sidebar-widget price_range range">
                <div class="price-filter mb-20">
                  <div class="price-filter-inner">
                    <div id="slidder-range" class="mb-20"></div>
                    <input type="range" name="range" value="{{ min_max_price.price__max }}" value="" class="slider-range" id="range" min="{{ min_max_price.price__min|floatformat:2 }}" max="{{ min_max_price.price__max|floatformat:2 }}" oninput="max_price.value=this.value" />
                    <div class="" style="width: 100px">
                      <div class="caption">
                        From: <strong id="slider-range-value1" class="text-brand">{{ min_max_price.price__min|intcomma }}đ</strong>
                      </div>
                      <br />
                      <div class="caption">
                        To: <strong id="slider-range-value2" class="text-brand">{{ min_max_price.price__max|intcomma }}đ</strong>
                      </div>
                    </div>
                    <input type="number" name="" value="{{ min_max_price.price__max }}" id="max_price" min="{{ min_max_price.price__min|floatformat:2 }}" max="{{ min_max_price.price__max|floatformat:2 }}" placeholder="Current Price" onkeyup="range.value=this.value" />
                  </div>
                </div>
                <div class="custome-checkbox mt-2">
                  <button class="btn text-white bg-success" type="button" id="price-filter-btn">Filter</button>
                  <!-- <h3>{{ min_max_price }}</h3> -->
                </div>
              </div>
            </div>
            <!--                        
            <div class="sidebar__item">
              <div class="latest-product__text">
                <h4>Latest Products</h4>

                <div class="latest-product__slider owl-carousel">
                  <div class="latest-prdouct__slider__item">
                    {% for p in productLatestOne %}
                      <a href="{% url 'core:product-detail' p.pid %}" class="latest-product__item">
                        <div class="latest-product__item__pic">
                          <img style="height: 110px;width: 110px;object-fit: contain;" src="{{ p.image.url }}" alt="" />
                        </div>
                        <div class="latest-product__item__text">
                          <h6>{{ p.title|truncatechars:27 }}</h6>
                          <span>${{ p.price }}</span>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                  <div class="latest-prdouct__slider__item">
                    {% for p in productLatestTwo %}
                      <a href="{% url 'core:product-detail' p.pid %}" class="latest-product__item">
                        <div class="latest-product__item__pic">
                          <img style="height: 110px;width: 110px;object-fit: contain;" src="{{ p.image.url }}" alt="" />
                        </div>
                        <div class="latest-product__item__text">
                          <h6>{{ p.title|truncatechars:27 }}</h6>
                          <span>${{ p.price }}</span>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
                                    -->
          </div>
        </div>

        <div class="col-lg-9 col-md-7">
          <div class="filter__item">
            <div class="row">
              <div class="col-lg-4 col-md-5 ms-3">
                <div class="filter__sort">
                  <div class="dropdown ml-3">
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sắp xếp theo</a>

                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=ATOZ">Tên, từ A đến Z</a></li>
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=ZTOA">Tên, từ Z đến A</a></li>
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=PRICELOWTOHIGH">Giá, từ thấp đến cao</a></li>
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=PRICEHOWTOLOW">Giá, từ cao đến thấp</a></li>
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=NEWPRODUCT">Mới nhất</a></li>
                      <li><a class="dropdown-item" href="http://127.0.0.1:8000/products/?sort=OLDPRODUCT">Cũ nhất</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="filter__found">
                  <h6><span>{{ products.count }}</span>sản phẩm</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="container" id="filtered-product">
            {% for p in products %}
              <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-12">
                  <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                          <div class="bg-image hover-zoom ripple rounded ripple-surface">
                            <img src="{{ p.image.url }}" class="w-100" />
                            <a href="#!">
                              <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                          <h5>{{ p.title }}</h5>
                          <div class="d-flex flex-row">
                            <div class="text-danger mb-1 me-2">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            {% comment %} <span>310</span> {% endcomment %}
                          </div>
                          <div class="mt-1 mb-0 text-muted small">
                            <span>Màn hình: 15.6"</span>
                            <span class="text-primary">•</span>
                            <span>Card: Intel Iris Xe</span>
                            <span class="text-primary">•</span>
                            <span>CPU: i5,1334U,1.3GHz<br /></span>
                          </div>
                          <div class="mb-2 text-muted small">
                            <span>Pin: 3-cell, 41Wh</span>
                          </div>
                          <p class="text-truncate mb-4 mb-md-0">Các bước để kiểm tra cấu hình laptop {{ p.category }} · 1. Kiểm tra cấu hình laptop Dell Sử dụng</p>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                          <div class="d-flex flex-row mb-1">
                            <div style="width: 140px;">
                              <h4 class="fs-5 mb-1 me-1">{{ p.price|intcomma }}</h4>
                              <h4 class="text-danger fs-6 mb-1 me-1"><del>{{ p.old_price|intcomma }}</del></h4>
                              VNĐ
                            </div>
                            <button style="width: 50px;" data-index="{{ p.id }}" class="bg-transparent border border-0 add add-to-cart-btn" id="add-to-cart-btn">
                              {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                              <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                            </button>
                          </div>
                          <input type="hidden" value="1" class="product-quantity-{{ p.id }}" />
                          <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}" />
                          <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}" />
                          <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}" />
                          <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}" />
                          <h6 class="text-success">Free shipping</h6>
                          <div class="d-flex flex-column mt-4">
                            <a href="{% url 'core:product-detail' p.pid %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-sm" type="button">Chi tiết</a>
                            <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success btn-sm mt-2 add-to-wishlist" data-product-item="{{ p.id }}" type="button">Yêu thích</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <!--                       
          <div class="product__discount mt-5">
            <div class="section-title product__discount__title">
              <h2>Sale Off</h2>
            </div>
            <div class="row">
              <div class="product__discount__slider owl-carousel">
                {% for p in productSaleOff %}
                  <div class="">
                    <div class="product__discount__item">
                      <div class="product__discount__item__pic set-bg" data-setbg="{{ p.image.url }}">
                        <div class="product__discount__percent">-{{ p.get_percentage|floatformat:0 }}%</div>
                        <ul class="featured__item__pic__hover">
                          <li>
                            <a href="#"><i class="fa fa-heart"></i></a>
                          </li>
                          <li>
                            <a href="{% url 'core:product-detail' p.pid %}"><i class="fa-solid fa-eye"></i></a>
                          </li>
                          <li>
                            <input type="hidden" value="1" class="product-quantity-{{ p.id }}" />
                            <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}" />
                            <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}" />
                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}" />
                            <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}" />
                            <button data-index="{{ p.id }}" class="bg-transparent border border-0 add add-to-cart-btn" id="add-to-cart-btn">
                              {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                              <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                            </button>
                          </li>
                        </ul>
                      </div>
                      <div class="product__discount__item__text">
                        <span>{{ p.category }}</span>
                        <h5><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                        <div class="product__item__price">
                          VNĐ{{ p.price }} <span>VNĐ{{ p.old_price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
                                 -->
        </div>
      </div>
    </div>
  </section>
  <!-- Product Section End -->
{% endblock %}
