{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="bg-secondary-subtle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>

              <li class="breadcrumb-item active text-uppercase" aria-current="page">Kết quả tìm kiếm cho "{{ query }}"</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb Section End -->

  <!-- Featured Section Begin -->
  <section class="featured spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% if products.count > 0 %}
            <div class="section-title">
              <h2>{{ products.count }} sản phẩm</h2>
            </div>
          {% else %}
            <div class="section-title">
              <h2>Chưa có sản phẩm nào</h2>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row featured__filter">
        {% for p in products %}
          <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat border rounded m-1" style="width: 280px;">
            <div class="featured__item position-relative">
              <div class="featured__item__pic set-bg" data-setbg="{{ p.image.url }}">
                <img />
                <ul class="featured__item__pic__hover">
                  <li>
                    <a aria-label="Add To Wishlist" class="action-btn add-to-wishlist" data-product-item="{{ p.id }}"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="{% url 'core:product-detail' p.pid %}"><i class="fa-solid fa-eye"></i></a>
                  </li>
                  <li>
                    <input type="hidden" value="1" class="product-quantity-{{ p.id }}" />
                    <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}" />
                    <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}" />
                    <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}" />
                    <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}" />
                    <button data-index="{{ p.id }}" class="bg-transparent border border-0 add add-to-cart-btn" id="add-to-cart-btn">
                      {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                      <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="featured__item__text">
                <h6><a href="{% url 'core:product-detail' p.pid %}">{{ p.title|truncatechars:50 }}</a></h6>
                <h5><span class="current-product-price-{{ p.id }}">{{ p.price|intcomma }}</span> VNĐ</h5>
                {% comment %} <h5><span class="text-body-tertiary">By</span> {{ p.vendor }}</h5> {% endcomment %}
              </div>
              <div class="featured__item__label">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <span class="featured__item__label--text">-{{ p.get_percentage|floatformat:0 }}%</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Banner Begin -->
  <div class="banner mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__pic">
            <img src="https://res.cloudinary.com/dc4bgvfbj/image/upload/v1730213179/0469dd8002f1ab5a4918d41c6907b2d0_mau0ta.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__pic">
            <img style="height: 140px;" src="https://res.cloudinary.com/dc4bgvfbj/image/upload/v1730213179/Voi-Tan-sinh-vien--1--920x184_rbmr9k.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- Featured Section End -->
{% endblock %}
