{% extends 'partials/user.html' %}
{% load static %}
{% load humanize %}
{% block change %}

<!-- Breadcrumb Section Begin -->
<section class="border-bottom border-success mb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Tài khoản</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Đổi mật khẩu</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-white my-5 p-4 rounded-2">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Đổi mật khẩu</h2>
                <hr>
                {% if msz %}
                    <div class="alert {{col}}">{{msz}}</div>
                {% endif %}
                <div class="form-group p-2">
                    <label>Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" name="cpwd" required>
                </div>
                <div class="form-group p-2">
                    <label>Mật khẩu mới</label>
                    <input type="password" class="form-control" name="npwd" id="pas" required onkeyup="check_pass()">
                </div>
                <div class="form-group p-2">
                    <label>Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="cpas" required onkeyup="check_pass()">
                </div>
                <div class="form-group p-2 text-center">
                    <input type="submit" class="btn btn-success" value="Thay đổi mật khẩu" id="sbbtn">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        
        if(p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            // $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            // $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");
        }else{
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            // $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            // $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

            $("#sbbtn").attr("disabled","disabled");
        }
    }
</script>
{% endblock change %}