{% load humanize %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" id="cart-list">
  <form action="{% url 'core:save_checkout_info' %}" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="shoping__cart__table">
            <table>
              <thead>
                <tr>
                  <th class="shoping__product">Sản phẩm</th>
                  <th>Giá</th>
                  <th>Số lượng</th>
                  <th>Tổng</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for product_id, item in cart_data.items %}
                  <tr>
                    <td class="shoping__cart__item">
                      <img style="height: 120px;width: 120px;" src="{{ item.image }}" alt="image" />
                      <a href="{% url 'core:product-detail' item.pid %}"><h5>{{ item.title|truncatechars:40 }}</h5></a>
                    </td>
                    <td class="shoping__cart__price">{{ item.price|intcomma }}đ</td>
                    <td class="shoping__cart__quantity">
                      <div class="quantity">
                        <div class="pro-qty">
                          <input type="text" value="{{ item.qty }}" class="product-qty-{{ product_id }}" />
                        </div>
                      </div>
                    </td>
                    <td class="shoping__cart__total">
                      {% widthratio item.price 1 item.qty as foo %}
                      {{ foo|intcomma }}
                    </td>
                    <td class="shoping__cart__item__close">
                      <button type="button" class="bg-transparent border border-0 update-product" data-product="{{ product_id }}"><i class="fa-solid fa-arrows-rotate"></i></button>
                    </td>
                    <td class="shoping__cart__item__close">
                      <button type="button" class="bg-transparent border border-0 delete-product" data-product="{{ product_id }}"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="shoping__cart__btns">
            <a href="{% url 'core:product-list' %}" class="primary-btn cart-btn bg-success text-white">Khám phá sản phẩm khác</a>
            {% comment %} <a href="#" class="primary-btn cart-btn cart-btn-right">
              {% endcomment %}
              {% comment %} <span class="icon_loading"></span> {% endcomment %}
              {% comment %}Upadate Cart{% endcomment %}
              {% comment %}
            </a> {% endcomment %}
          </div>
        </div>

        <div class="col-8">
          <div class="shoping__continue">
            <div class="shoping__discount"></div>
          </div>
        </div>
        <div class="col-lg-4">
          {% if totalcartitems %}
            <div class="shoping__checkout">
              <h5>Đơn hàng</h5>
              <ul>
                <li>
                  Khuyến mãi <span>0đ</span>
                </li>
                <li>
                  Tổng <span>{{ cart_total_amount|intcomma }}đ</span>
                </li>
              </ul>
              {% if totalcartitems %}
                <button type="submit" class="site-btn mb-20 w-100 bg-success">Đặt đơn<i class="fi-rs-sign-out ml-15"></i></button>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</section>
<!-- Shoping Cart Section End -->
{% load static %}

<script src="{% static 'assets/js/main.js' %}"></script>
