{% load static %}
{% load humanize %}

<div class="container" id="filtered-product">
  {% for p in products %}
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-12">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{ p.image.url }}" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{ p.title }}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  {% comment %} <span>310</span> {% endcomment %}
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span>Full HD (1920 x 1080)</span>
                  <span class="text-primary">•</span>
                  <span>Card: Intel Iris Xe</span>
                  
                </div>
                <div class="mb-2 text-muted small">
                  <span>Pin: 3-cell, 41Wh</span><span class="text-primary">•</span>
                  <span>Khối lượng: 1.47 kg<br /></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0">Các bước để kiểm tra cấu hình laptop {{ p.category }} · 1. Kiểm tra cấu hình laptop Dell Sử dụng</p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row mb-1">
                  <div style="width: 140px;">
                    <h4 class="fs-5 mb-1 me-1">{{ p.price|intcomma }}</h4>
                    <h4 class="text-danger fs-6 mb-1 me-1"><del>{{ p.old_price|intcomma }}</del></h4>
                    VNĐ
                  </div>
                  <button style="width: 50px;" data-index="{{ p.id }}" class="bg-transparent border border-0 add add-to-cart-btn" id="add-to-cart-btn">
                    {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                    <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                  </button>
                </div>
                <input type="hidden" value="1" class="product-quantity-{{ p.id }}" />
                <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}" />
                <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}" />
                <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}" />
                <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}" />
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <a href="{% url 'core:product-detail' p.pid %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-sm" type="button">Chi tiết</a>
                  <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success btn-sm mt-2 add-to-wishlist" data-product-item="{{ p.id }}" type="button">Yêu thích</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
