{% load humanize %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" id="wishlist-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
                <th class="shoping__product">Sản phẩm</th>
                <th>Giá</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              {% for w in wishlist %}
                <tr>
                  <td class="shoping__cart__item">
                    <img style="height: 120px;width: 120px;" src="{{ w.product.image.url }}" alt="image" />
                    <a href="{% url 'core:product-detail' w.product.pid %}"><h5>{{ w.product.title|truncatechars:60 }}</h5></a>
                  </td>
                  <td class="shoping__cart__price">{{ w.product.price|intcomma }}đ</td>

                  <td class="shoping__cart__item" style="width: 100px;">
                    <input type="hidden" value="1" class="product-quantity-{{ w.product.id }}" />
                    <input type="hidden" class="product-pid-{{ w.product.id }}" value="{{ w.product.pid }}" />
                    <input type="hidden" class="product-image-{{ w.product.id }}" value="{{ w.product.image.url }}" />
                    <input type="hidden" class="product-id-{{ w.product.id }}" value="{{ w.product.id }}" />
                    <input type="hidden" class="product-title-{{ w.product.id }}" value="{{ w.product.title }}" />
                    <button data-index="{{ w.product.id }}" class="bg-transparent border border-0 add add-to-cart-btn ms-4 me-2" id="add-to-cart-btn">
                      {% comment %}thêm thuộc tính đê vô hiệu hóa href{% endcomment %}
                      <a href="#" style="pointer-events: none; color: inherit; text-decoration: none;"><i class="fa fa-shopping-cart"></i></a>
                    </button>
                    <div class="remove-hover-red">
                      <button style="border: none; background: none;" data-wishlist-product="{{ w.id }}" class="delete-wishlist-product"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                  </td>
                </tr>
              {% empty %}
                <p>Chưa có sản phẩm nào.</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="{% url 'core:product-list' %}" class="primary-btn cart-btn bg-success text-white">CONTINUE SHOPPING</a>
          {% comment %} <a href="#" class="primary-btn cart-btn cart-btn-right">
            <span class="icon_loading"></span>
            Upadate Cart
          </a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->
 
{% load static %}
<script src="{% static 'assets/js/main.js' %}"></script>