{% extends 'partials/user.html' %}
{% load static %}
{% load humanize %}
{% block order %}
  <section class="border-bottom border-success mb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Tài khoản</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Đơn hàng</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <h2 class="fw-semibold mb-3">Đơn hàng</h2>
  <div class="container border">
    <table class="table align-middle mb-0 bg-white table-hover text-center">
      <thead class="bg-light">
        <tr>
          <th>Mã đơn</th>
          <th>Ngày đặt</th>
          <th>Trạng thái nhận hàng</th>
          <th>Trạng thái thanh toán</th>
          <th>Tổng</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {% for o in orders_list %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                {% comment %} <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" /> {% endcomment %}
                <div class="ms-3">
                  <p class="fw-medium mb-1">FM-{{ o.id }}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ o.order_date }}</p>
              {% comment %} <p class="text-muted mb-0">IT department</p> {% endcomment %}
            </td>
            <td>
              {% if o.product_status == 'processing' %}
                <span class="badge text-bg-warning">Đang chuẩn bị hàng</span>
              {% elif o.product_status == 'shipped' %}
                <span class="badge text-bg-info">Đang giao hàng</span>
              {% elif o.product_status == 'delivered' %}
                <span class="badge text-bg-success px-2">Đã giao hàng thành công</span>
              {% endif %}
            </td>

            <td>
              {% if o.paid_status %}
                <span class="badge text-bg-success">Thành công</span>
              {% else %}
                <span class="badge text-bg-danger">Chưa thanh toán</span>
              {% endif %}
            </td>
            <td>{{ o.price|intcomma }}đ</td>
            <td>
              <button type="button" class="btn btn-outline-success"><a href="{% url 'dashboard:order-detail' o.id %}">View</a></button>
              {% if o.paid_status %}
                <button disabled type="button" class="btn btn-outline-success text-secondary"><a href="{% url 'core:checkout' o.oid %}">Checkout</a></button>
              {% else %}
                <button type="button" class="btn btn-outline-success"><a href="{% url 'core:checkout' o.oid %}">Checkout</a></button>
              {% endif %}
              <button type="button" class="btn btn-outline-success"><a href="{% url 'core:checkout' o.oid %}">Delete</a></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
