{% extends 'partials/user.html' %}
{% load static %}
{% load humanize %}
{% block profile %}
  <!-- Breadcrumb Section Begin -->
  <section class="border-bottom border-success mb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0" style="height: 60px;">
              <li class="breadcrumb-item">
                <i class="fa-solid fa-house-chimney text-success"></i>
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-uppercase text-success fw-bold" href="{% url 'core:index' %}">Tài khoản</a>
              </li>
              <li class="breadcrumb-item active text-uppercase" aria-current="page">Thông tin</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  {% comment %} <h2 class="fw-semibold">Thông tin</h2> {% endcomment %}

  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              {% if user_profile.image %}
                <img src="{{ user_profile.image.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" />
              {% else %}
                <img src="{% static 'assets/img/Default_pfp.svg.png' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" />
              {% endif %}
              <h5 class="my-3">{{ user_profile.full_name }}</h5>
              <p class="text-muted mb-1">{{ user_profile.bio }}</p>
              {% comment %} <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> {% endcomment %}
              <div class="d-flex justify-content-center mb-2">
                {% comment %} <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Follow</button> {% endcomment %}
                <a href="{% url 'userauths:profile-update' %}" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success ms-1">Chỉnh sửa</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-black">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_profile.full_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-black">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ request.user.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-black">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_profile.phone }}</p>
                </div>
              </div>
              <hr />
              {% comment %} <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-black">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
              </div>
              <hr /> {% endcomment %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-black">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_profile.address }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
